# ----------------------
# Node.js
# ----------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# ----------------------
# Environment Variables
# ----------------------
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ----------------------
# Logs
# ----------------------
logs/
*.log
*.log.*

# ----------------------
# Build and Output
# ----------------------
build/
dist/
coverage/
.out/
.next/
.nuxt/

# ----------------------
# OS Specific
# ----------------------
.DS_Store        # macOS
Thumbs.db        # Windows
ehthumbs.db
Desktop.ini

# ----------------------
# Testing
# ----------------------
jest-test-results.json
coverage-final.json

# ----------------------
# Editors / IDEs
# ----------------------
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# ----------------------
# Misc
# ----------------------
*.tgz
.pnp/
.pnp.js


